@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Elimina todos los colores de autocompletar en Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  /* Cambia el color del texto aquí */
  transition: background-color 5000s ease-in-out 0s;
}

/* Elimina todos los colores de autocompletar en Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -moz-text-fill-color: white inherit !important;
}

.no-scroll {
  overflow: hidden;
}

.navbar.scrolled {
  transition: background-color 0.3s, backdrop-filter 0.3s;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px) !important;
}

/* Estilos para la barra de desplazamiento */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #bbbbbb;

}


::-webkit-scrollbar-thumb {
  background: #999999;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.9);

}

.text-gradient {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}